.userBlock {
    background: #033;
    border: 1px solid #3f3;
    border-radius: 4px;
    margin: 10px;
    padding:10px;
    font-size: 15px;
    color: #fff;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
