.nav {
    grid-area: n;
    background-color: #333;
    padding: 20px;
    border: 2px solid #0f0;
}

.item a {
    color: #090;
    text-decoration: none;
}

.item a:hover {
    color: black;
    background-color: #0f0;
}

.item a.active {
    color: #4f4;
}

.item a.active:hover {
    color: black;
    background-color: #0f0;
}
